{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="details">
        <div id="details-wrapper">
            <h2>Event Details</h2>

            {% if event.banner_url %}
                <img src="{{ event.banner_url }}" alt="{{ event.slogan }} img"/>
            {% else %}
                <img src="{% static 'images/event-default-img.png' %}" alt="{{ event.slogan }} img"/>
            {% endif %}


            <p id="details-title">{{ event.slogan }}</p>

            <div id="info-wrapper">
                <div id="details-description">
                    <p class="description">{{ event.start_time|date:"D d M Y H:i" }}</p>

                    <p>{{ event.location }}</p>

                    <p>{{ event.available_tickets }} available tickets</p>

                    {% if event.key_features %}
                        <p class="details-features"><strong>Key features:</strong> {{ event.key_features }}</p>
                    {% endif %}
                </div>
                <!--Edit and Delete buttons -->
                <div id="action-buttons">
                    <a href="{% url 'event_edit' event.pk %}" id="edit-btn">Edit</a>
                    <a href="{% url 'event_delete' event.pk %}" id="delete-btn">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
